<% if flash[:notice].present? %>
  <div>
    <p class="alert alert-dismissible alert-success"><%= flash[:notice] %></p>
  </div>
<% elsif flash[:error].present? %>
  <div>
    <p class="alert alert-dismissible alert-danger"><%= flash[:error] %></p>
  </div>
<% elsif flash[:alert].present? %>
  <div>
    <p class="alert alert-dismissible alert-warning"><%= flash[:alert] %></p>
  </div>
<% end %>